<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>SmartCalendar - login</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="reset-password.component.scss" rel="stylesheet" />
</head>
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem; ">
          <div class="card-body p-5 text-center">
            <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
              <div class=" mt-md-4 pb-5">

                <h2 style="font-size: 2em" class="fw-bold mb-2 text-uppercase">Reset Your Password</h2>

                <mdb-form-control class="form-outline form-white mb-4">
                  <input mdbInput type="username" formControlName="oldPassword" class="form-control" />
                  <label mdbLabel class="form-label">Old Password</label>
                </mdb-form-control>

                <div class="form-row">
                  <div class="form-group col">
                    <mdb-form-control class="form-outline form-white">
                      <input mdbInput type="password" id="password" formControlName="newPassword" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                      <label mdbLabel class="form-label" for="password">New Password</label>
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6
                          characters
                        </div>
                      </div>
                    </mdb-form-control>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col">
                    <mdb-form-control class="form-outline form-white">
                      <input mdbInput type="password" id="cPassword" formControlName="confirmPassword"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                      <label mdbLabel class="form-label" for="cPassword">Confirm Password</label>
                      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required
                        </div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                      </div>
                    </mdb-form-control>
                  </div>
                </div>

                <button class="btn btn-outline-light btn-lg px-5" type="submit">Submit</button>
              </div>
              <div>
                <p class="mb-0"><a class="text-white fw-bold" href="/login">Back</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</html>