<!-- Modal of the new event-->
<div class = "testModal">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
                type="button"
                class="btn-close"
                aria-label="Close"
                (click)="modalRef.close()"
        ></button>
    </div>
    <div class="modal-body">...</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
            Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
</div>

<div class="modal fade" id="event-modal" tabindex="-1" aria-labelledby="modal-title"
     aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Header of the modal -->
            <div class="modal-header">
                <h5 class="modal-title" id="createEventModal">Add New Event</h5>
            </div>
            <!-- Body of the modal -->
            <div class="modal-body">
                <form [formGroup]="newEventForm" id="form" class="align-items-center">
                    <div class="form-row">
                        <mdb-form-control class="form-outline">
                            <input mdbInput type="text" id="title" formControlName="title"
                                   class="form-control">
                            <label mdbLabel class="form-label" for="title"><strong>Title</strong></label>
                        </mdb-form-control>
                    </div>
                    <label style="color:black"><strong>Priority:</strong> 1: High - 5: Low </label><br>
                    <div id = "priorityRadio" class="form-row">
                        <div class="form-check form-check-inline">
                            <input
                                    mdbRadio
                                    class="form-check-input"
                                    type="radio"
                                    name="inlineRadioOptions"
                                    id="inlineRadio1"
                                    value="option1"
                            />
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                    mdbRadio
                                    class="form-check-input"
                                    type="radio"
                                    name="inlineRadioOptions"
                                    id="inlineRadio2"
                                    value="option2"
                            />
                            <label class="form-check-label" for="inlineRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                    mdbRadio
                                    class="form-check-input"
                                    type="radio"
                                    name="inlineRadioOptions"
                                    id="inlineRadio3"
                                    value="option3"
                            />
                            <label class="form-check-label" for="inlineRadio1">3</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                    mdbRadio
                                    class="form-check-input"
                                    type="radio"
                                    name="inlineRadioOptions"
                                    id="inlineRadio4"
                                    value="option4"
                            />
                            <label class="form-check-label" for="inlineRadio2">4</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                    mdbRadio
                                    class="form-check-input"
                                    type="radio"
                                    name="inlineRadioOptions"
                                    id="inlineRadio5"
                                    value="option5"
                            />
                            <label class="form-check-label" for="inlineRadio2">5</label>
                        </div>
                    </div>
                    <div id = "selectStartTime" class="form-row">
                        <mdb-form-control class="form-outline">
                            <label mdbLabel for="start" class="p-1"><strong>Start: </strong></label>
                            <input mdbInput type="datetime-local" id="start">
                            <label mdbLabel for="allDay" class="pl-2 pr-1"><strong> All Day: </strong></label>
                            <input mdbInput type="checkbox" id="allDay" >
                        </mdb-form-control>
                    </div>
                    <div id = "selectEndTime" class="form-row">
                        <mdb-form-control class="form-outline">
                            <label mdbLabel for="end" class="p-1"><strong>End: </strong></label>
                            <input mdbInput type="datetime-local" id="end">
                        </mdb-form-control>
                    </div>
                </form>
            </div>

            <!-- footer of the modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="getNewEvent()">Add Event</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal of friends-->
<div class="modal fade" id="friends-modal" tabindex="-1" aria-labelledby="modal-title"
     aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Header of the modal -->
            <div class="modal-header">
                <h5 class="modal-title" id="Label2">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Body of the modal -->
            <div class="modal-body">
                ...
            </div>

            <!-- footer of the modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="example-modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal of import -->
<div class="modal fade" id="import-modal" tabindex="-1" aria-labelledby="modal-title"
     aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Header of the modal -->
            <div class="modal-header">
                <h5 class="modal-title" id="Label3" style="color:black">Import Calendar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Body of the modal -->
            <div class="modal-body">
                <form id="importForm"><label style="color:black"><strong>Enter public ical url:</strong></label><br>
                    <input type="url" id="myfile" name="myfile"></form>

            </div>

            <!-- footer of the modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="getICS()">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal of the FAQ -->
<div class="modal fade" id="FAQ-modal" tabindex="-1" aria-labelledby="modal-title"
     aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Header of the modal -->
            <div class="modal-header">
                <h5 class="modal-title" id="faqModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Body of the modal -->
            <div class="modal-body">
                <p>Hello, this is going to be FAQ section after we deploy the app!</p>
            </div>

            <!-- footer of the modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="example-modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal of the contact -->
<div class="modal fade" id="contact-modal" tabindex="-1" aria-labelledby="modal-title"
     aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Header of the modal -->
            <div class="modal-header">
                <h5 class="modal-title" id="Label4">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Body of the modal -->
            <div class="modal-body">
                <div class="text-center">

                    <div class="faq-body">
                        <p>You can find us using these links:</p>
                    </div>
                </div>

                <div id="mail-phrase"
                     class="fas fa-mail-bulk"><a
                        href="mailto:artemhack@Ggmail.com">: Email</a>
                </div>

                <div id="inst-phrase"
                     class="fas fa-instagram"><a
                        href="https://www.instagram.com/barstoolmtech/">: Instagram</a>
                </div>

                <div id="discord-phrase"
                     class="fas fa-discord"><a
                        href="https://discord.gg/yQ5Ymgh">: Discord</a>
                </div>

            </div>

            <!-- footer of the modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="example-modal">Close</button>
            </div>
        </div>
    </div>
</div>