<!-- Modal of the new event-->
<div class="modal fade" id="event-modal" tabindex="-1" aria-labelledby="modal-title"
     aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Header of the modal -->
            <div class="modal-header">
                <h5 class="modal-title" id="Label1">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Body of the modal -->
            <div class="modal-body">
                ...
            </div>

            <!-- footer of the modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="example-modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal of friends-->
<div class="modal fade" id="friends-modal" tabindex="-1" aria-labelledby="modal-title"
     aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <!--Header of the modal -->
            <div class="modal-header">
                <h5 class="modal-title" id="Label2">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <!-- Body of the modal -->
            <div class="modal-body">
                ...
            </div>
            
            <!-- footer of the modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="example-modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal of import -->
<div class="modal fade" id="import-modal" tabindex="-1" aria-labelledby="modal-title"
     aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Header of the modal -->
            <div class="modal-header">
                <h5 class="modal-title" id="Label3">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Body of the modal -->
            <div class="modal-body">
                ...
            </div>

            <!-- footer of the modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="example-modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal of the FAQ -->
<div class="modal fade" id="FAQ-modal" tabindex="-1" aria-labelledby="modal-title"
     aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Header of the modal -->
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Body of the modal -->
            <div class="modal-body">
                <p>Hello, this is going to be FAQ section after we deploy the app!</p>
            </div>

            <!-- footer of the modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="example-modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal of the contact -->
<div class="modal fade" id="contact-modal" tabindex="-1" aria-labelledby="modal-title"
     aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Header of the modal -->
            <div class="modal-header">
                <h5 class="modal-title" id="Label4">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Body of the modal -->
            <div class="modal-body">
                <div class="text-center">
                    
                    <div class="faq-body">
                        <p>You can find us using these links:</p>
                    </div>
                </div>

                <div id="mail-phrase"
                     class="fas fa-mail-bulk"> <a
                        href="mailto:artemhack@Ggmail.com">: Email</a>
                </div>

                <div id="inst-phrase"
                     class="fas fa-instagram"> <a
                        href="https://www.instagram.com/barstoolmtech/">: Instagram</a>
                </div>

                <div id="discord-phrase"
                     class="fas fa-discord"> <a
                        href="https://discord.gg/yQ5Ymgh">: Discord</a>
                </div>
                
            </div>

            <!-- footer of the modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="example-modal">Close</button>
            </div>
        </div>
    </div>
</div>