<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Import iCal File</h5>
    <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modalRef.close()"
    ></button>
</div>
<div class="modal-body">
<!-- Modal of import -->
            <!-- Body of the modal -->
                <form id="importForm"><label style="color:black"><strong>Enter public ical url:</strong></label><br>
                    <input type="url" id="myfile" name="myfile"></form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="getICS()" (click)="modalRef.close()">Submit</button>
</div>