<!doctype html>
<html long="en">

</html>
<head>
    <link rel="stylesheet" href="sidebar.component.scss">
</head>
<body>
<div class="flex-shrink-0 p-3 vh-100 bg-lavender" style="width:auto; min-width: 210px">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button
                    class="btn btn-primary"
                    (click)="openNewEventModal()">
                <i class="fas fa-calendar-day p-1"></i>
                New event
            </button>
        </li>
        <li class="mb-1">
            <button class="btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#home-collapse" aria-expanded="false">
                My Calendars
            </button>
            <div class="collapse" id="home-collapse">
                <div class="form-check" *ngFor="let c of calendars">
                        <input
                            mdbCheckbox
                            class="form-check-input"
                            type="checkbox"
                            name="flexcheckDefault"
                            id="flexCheckDefault"
                        />
                        <label class="form-check-label text-black" for="flexCheckDefault"> {{ c.title }}</label>
                </div>
                <button class="btn btn-primary" (click)="openNewCalModal()"> Add calendar</button>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#dashboard-collapse" aria-expanded="false">
                Friends Calendars
            </button>
            <div class="collapse" id="dashboard-collapse">
                <div class="form-check" *ngFor="let f of friends">
                    <input
                            mdbCheckbox
                            class="form-check-input"
                            type="checkbox"
                            name="flexcheckDefault"
                            id="friends"
                    />
                    <label class="form-check-label text-black" for="friends"> {{ f.username }}</label>
                </div>
                <button class="btn btn-primary" (click)="openManageFriendsModal()"> Manage Friends</button>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#account-collapse" aria-expanded="false">
                Account
            </button>
            <div class="collapse" id="account-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" style="width: auto">
                    <li class="py-2"><a class="btn btn-primary" href="./reset-password">Reset Password</a></li>
                    <li><button class="btn btn-primary" (click)="openImportModal()"> Import calendar</button></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
</body>
