<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>SmartCalendar</title>

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="home.component.css">
    

</head>

<body>
<div class="header-row">
    <app-header></app-header>
</div>
<div class="container-fluid">

    <div class="row">
        <div class="wrapper">
            <app-sidebar></app-sidebar>

            <div id="content">
                
                <mwl-calendar-month-view
                        [viewDate]="viewDate"
                ></mwl-calendar-month-view>

            </div>
        </div>
    </div>
    
</div>

</body>

</html>